.card-img-top{
    height: 500px;
  }
  .img-round{
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  .headeremail{
    text-align: left;
    margin-top: 10px;
  }
  .imagecenter{
    display: inline-block;
  }
  a.btn.btn-primary {
    float: left;
    width: 130px;
}
button.btn.btn-danger {
  display: flex;
}

.rounded-circle {
  border-radius: 5%!important;
  border-style: groove;
}


img.rounded-circle {
  margin-left: 60px;
  margin-top: 8px;
}
  
  .img_post{
    padding: 10px;
    width: 450px;
    height: 450px;
  }
  .image_reg{
    width: fit-content;
    width: 500px;
    height: 100%;
  }
  .image_profile{
    border-radius: 25;
  }
  .navbar__link--active {
    border-bottom: 3px solid #29b6f6;
    transition: border-bottom .5s ease-in-out;
  }
  .map{
     border:0;
  }
  .rounded-circle{
    display: inline-block;
  }
  .facebook-icon:hover{
    color: rgb(22, 24, 184);
    background-color: whitesmoke;
  }
  .youtube-icon:hover{
    color: red;
    background-color: whitesmoke;
  }
  .twitter-icon:hover{
    color: #29b6f6;
    background-color: whitesmoke;
  }
  .linkedin-icon:hover{
    color: #270ffd;
    background-color: whitesmoke;
  }
  .footer{
    background-color: #080338de;
  }
  .linkedin-icon{
    color: white;
    border-radius: 50px;
  }
  .twitter-icon{
    color: white;
    border-radius: 50px;
  }
  .facebook-icon{
    color: white;
    border-radius: 50px;
  }
  .youtube-icon{
    color: white;
    border-radius: 50px;
  }
  .card_footer_about{
    background-color: #eb7290;
  }
  .navlinks{
    color: rgb(124, 187, 241);
  }
  .navlinks:hover{
    background-color: aliceblue;
    color: #0c0355;
    border-radius: 25px;
    font-style: italic;
    text-align: center;
  }
  